<header>
    <nav>
        <div>
            <a href="/">Accueil</a>
        </div>
        <div>
            <a href="/species/Gentoo">Gentoo</a>
            <a href="/species/Adelie">Adelie</a>
            <a href="/species/Chinstrap">Chinstrap</a>
        </div>
    </nav>
</header>